*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom properties  */
:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
   


    --fw-reg: 300;
    --fw-bold: 900; 

    --clr-light: #ffffff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    --clr-hover: #89ffd6;   
    --clr-exp: #002211;
    --clr-pdf: #fd4242;  

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem; 
  
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.3),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);

    --ts: 2px 4px 3px rgba(0,0,0,0.1),
          4px 6px 13px rgba(105,255,202, 0.2),
         6px 9px 4px rgba(0,0,0,0.1);  

    
}


@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;   
    }
    span {
        display: none;
    }
}


/* General styles */

html {
    scroll-behavior: smooth;
}


body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    
}

section {
    padding: 2em 1em;
}

img {
    display: block;
    max-width: 100% ;  
}

:focus{
    outline-offset: 3px;
    outline:3px solid var(--clr-accent);
}
/* Buttons */

.btn {
    display: inline-block;
    background-color: var(--clr-accent);
    color: var(--clr-dark);
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    padding: 0.5em 3.5em;
    cursor: pointer;
    font-size: 0.8em;
    text-decoration: none ;
    letter-spacing: 1.5px;
    transition: transform 200ms ease-in-out;   
}

.btn:hover {
    background-color: var(--clr-hover);
    transform:  scale(1.1);
    content: "";
}

.btn:after{
    content:'See my work';
}
.btn:hover:after{
    content:'Here you go';
}   


/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}

.section_title{
  margin-bottom: .25rem; 
  
}
.section_title-intro{
    font-weight: var(--fw-reg);
    text-shadow: var(--ts);
}
.section_title-intro strong{
    display: block;
}
.section_subtitle{
    margin: 0;
    font-size: var(--fs-h3);
} 
.section_subtitle-intro{
    display: inline-block;
}        
.section_subtitle-intro,
.section_subtitle-about{
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    padding: 0.1em 1em;
}  
.section_subtitle-work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 1em;
}


/* Header */

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.logo p{
    display: inline-block;
    margin: 0;
    font-weight: var(--fw-bold);
    font-size: var(--fs-body);
    font-family: var(--ff-secondary);
    letter-spacing: 5px;
    transition: all 2s ease-in-out;
}
.nav {
    position: fixed;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

    transform: translateX(100%);
    transition: transform 500ms cubic-bezier(.5, 0, 0.5, 1);
}

.nav_list{
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav_link {
    color: inherit;
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    text-decoration: none;
}

.nav_link:hover{
    color: var(--clr-hover);
}

.nav-toggle {
    padding: .5em;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: absolute ;
    right: 1em;
    top: 1em;
    z-index: 1000;   
}

.nav-open .nav {
    transform: translateX(0%);
}

.nav-open .nav-toggle {
    position: fixed;  
} 
.nav-toggle:focus {
    outline: none;
} 

.nav-open .logo {
    color: #ffffff;
    z-index: 100;
    position: fixed;
} 
/* Image enlarged  */
/* .img-open .img-holder {
    position: fixed;
    background-color: var(--clr-dark);
    opacity: .7;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
} */





/* Animation */
 
.nav-open .hamburger {
    transform: rotate(225deg);
    /* transform: translateX(-50px); */
    /* background: transparent; */
    
} 
.nav-open .hamburger::before {
    transform:rotate(90deg) ;
    /* transform: rotate(45deg) translate(35px, -35px); */
} 

.nav-open .hamburger::after {
    opacity: 0;
    /* transform: rotate(-45deg) translate(35px, 35px); */
} 


/* Hambać */

.hamburger {
    display: block;
    position: relative;
    
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 2.5px;
    border-radius: 1em;
    transition: all 500ms cubic-bezier(.5, 0, 0.5, 1);
} 

.hamburger::before,
.hamburger::after {
    content:"";
    position: absolute;
    left: 0;
    right: 0;  
}
.hamburger::before {transform: translateY(6px);}
.hamburger::after {transform: translateY(-6px);}

/* Intro Section */
.intro {
    position: relative;
    padding-bottom: 0;
}
.intro img {
    box-shadow: var(--bs);   
    border-radius: 10px; 
}



@media (min-width: 600px) {
    .intro {
        display: grid;
        grid-column-gap: 1em;
        width: min-content;
        margin: 0 auto;
        grid-template-areas: 
            "img title"
            "img subtitle";

        grid-template-columns: min-content max-content ;
    }
    .intro img {
        grid-area: img;
        min-width: 250px;
        z-index: 2;
        
    }
    .section_subtitle-intro{
        align-self: center;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        margin-bottom: 0;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }

    span {
        display: block;
    }
}

/* My services */
.my-services {
    background-color: var(--clr-exp);
    background-image: url(../img/walterpic_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--clr-light);
    background-blend-mode: multiply;
    opacity: 90%;
    text-align: center;
    
}

.section_title-services{
    color:var(--clr-accent);
    position: relative;
}

/* this is just a simple design line under the title */
.section_title-services::after{
    content: '';
    display: block;
    width: 4em;
    height: 1px;
    border-radius: 0.5px;
    margin: 0.4em auto 1em;
    background-color: var(--clr-light);
    opacity: 0.35;
}

.service{
    max-width: 500px; 
    margin: 0 auto;
    }

.services {
    margin-bottom: 3em;
}

@media (min-width: 800px) {
    .services{
        display: flex;
        max-width: 1200px;
        margin-left:  auto;
        margin-right:  auto;
        text-align: left; 
        
    }
    .service + .service {
        max-width: 300px;
        margin-left: 2em;
    }
}

.about-me{
    max-width: 1200px;
    margin: 0 auto;
}

.about-me_img {
    box-shadow: var(--bs);
    border-radius: 10px;
    filter: contrast(120%)
            saturate(120%);
}
 
@media (min-width: 600px) {
    .about-me{
        display: grid;
        grid-template-columns: 1fr 250px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 1em;
    }
    .section_title-about {
        grid-area: title;
    }
    .section_subtitle-about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(250px + 2em);
    }
   
    .about-me_img{
        grid-area: img;
        position: relative;
    }
}
/* My work */

.my-work{
    background-color: var(--clr-exp);
    color: var(--clr-light);
    text-align: center;
    background-size: cover;
    background-image: url(../img/BIMpic.jpg);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    opacity: 90%;
}

.portofolio{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    background-color: var(--clr-light);
    max-width: 95%;
    margin: 0 auto;
    border: 1px solid var(--clr-accent);
    
}
.portofolio_item{
    background-color: var(--clr-hover);
    overflow: hidden; 
    border: 1px dashed var(--clr-dark); 
    margin: 2px;
    text-decoration: none;
    position: relative;
}

.portofolio_item:focus{
    position: relative;
}

.portofolio_img{
    opacity: 0.9;
    display: block;
    min-height: 100%;
    /* border: 1px dashed var(--clr-dark); */
    transition: 
        transform 750ms  cubic-bezier(0.7, 0.5, 0.3, 0.8),
        opacity 250ms linear;
    backface-visibility: hidden;
}

.portofolio_img:hover,
.portofolio_item:focus .portofolio_img {
    transform: scale(1.2);
    opacity: 1;
}
.portofolio_item:hover .portofolio_description{
    opacity: 1;
    transform: translateX(0%);
}

.portofolio_description {
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
    transform: translateX(-50%);
    transition: transform  0.5s ease,
                opacity 1s linear; 
}
.portofolio_description-text {
    background: #411a1a;
    color: var(--clr-light);
    font-family: var(--ff-secondary);
    padding: 0.35em 0.5em;
}

/* PDF list */
.pdf{
    color: var(--clr-exp);   
    text-align: center;
    
}

.pdf-list{
    list-style: none;
    display: flex;
    justify-content: left;
    /* margin: 2em 0 0; */
}
.pdf-list_item{
    margin: 0 0.5em;
}
.pdf-list_link{
    color: var(--clr-pdf);
    text-decoration: none;
    font-size: var(--fs-body);
}

/* Footer */

.footer {
    background-color: #111 ;
    color: var(--clr-accent);       
    text-align: center;
    padding: 2em 0;
    border-top: 2px solid rgba(0,0,0,.7);
    font-size: var(--fs-h3);
}

.footer_link {
    font-weight: var(--fw-bold);
    
}
.footer p{
    margin: 0;
}

.footer a{
    color:inherit;
    text-decoration: none;
}

.footer_link:hover,
.social-list_link:hover {
    opacity: 0.5;
    text-decoration: underline; 
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 1em 0 0;
}

.social-list_item {
    margin: 0 0.5em;
}
.social-list_link {
    padding: 0.5em;
}